
    {% extends 'base.html' %}
    {% block title %}Certification{% endblock %}
    {% block main %}
    {% load static %}

    <main>
         <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center" style="max-height:300px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center">
                                <h2 style="color: #c19d9d;font-family: fantasy">Certification</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- Start Sample Area -->
		<section class="sample-text-area">
			<div class="container">
				<h2 class="h2-new">ExpertCallers: A Premier ISO Certified Call Center Service Provider</h2>
				<p>
					Quality is the cornerstone of our call center services and an ISO 9001: 2015 certificate is a testimony to this commitment. Taking this commitment forward, we have implementing well established QA standards across all facets of our call center operations, which has helped us to deliver robust, reliable and effective inbound and outbound call center services that deliver top-notch results.
				</p>
			</div>
		</section>

        <!------------sec----------->

        <div class="container">
            <div class="section-top-border">

					<div class="row">
						<div class="col-md-4">
							<img src="{% static 'other/flatworld-iso.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="col-md-8 mt-sm-20">
                            <p><b>The ISO/IEC 27001: 2013 ISMS Certification implies that we are a company that assigns utmost importance to privacy and security of your data. It signifies that we have implemented all the safeguards that enables us to:</b></p>
                            <ul class="unordered-list ul-new">
                                <li>Protect loss of customer data and client intellectual property at all times</li>
                                <li>Provide fool-proof security to handle internal information requirements of our clients</li>
                            </ul>
                            <p>All this simply means that you get access to the right kind of framework required to comply with legal and other regulatory requirements in a safe, secure and organized manner by partnering with us.</p>
                            <p><b>Besides the above-mentioned benefits, our certification enables us to:</b></p>
                            <ul class="unordered-list ul-new">
                                <li>Provide assurance to all stakeholders</li>
                                <li>Keep information security costs under control</li>
                                <li>Get international recognition as a safe and secure company</li>
                                <li>Recover from server attacks and other internal disasters</li>
                            </ul>
                        </div>

					</div>
				</div>
        </div>

<!---------------sec------------->

          <div class="categories-area pt-50 pb-50">
              <div class="container">
                  <h5 class="h5-new align-center">
                ISO/IEC 27001:2013 ISMS (Information Security Management Systems) Certification - What it Tells About Us
                </h5>
              </div>
          </div>
<!-----------sec------------->



 </main>

    {% endblock %}
