    {% extends 'base.html' %}
    {% block title %}claim processing{% endblock %}
    {% block main %}
    {% load static %}

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center" style="max-height:300px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center">
                                <h2 style="color: #c19d9d;font-family: fantasy">Claims Processing Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- Start Sample Area -->
		<section class="sample-text-area">
			<div class="container">
				<h2 class="h2-new">Building Speed and Efficiency into Your Process</h2><br>
				<p style="text-align: justify">
					ExpertCallers has extensive knowledge and expertise in handling end-to-end offshore claims processing services. We leverage this knowledge to help you build operational efficiency, reduce costs and deliver the ultimate customer satisfaction.
				</p>
                <p style="text-align: justify">
					Your customer is looking for easy claim handling process, accurate claim settlement, and quick resolution time. While, meeting these is a challenge, meeting them at reduced costs, is a bigger need and challenge. With experienced domain experts, global delivery centers, and established processes, we boost your claims processing efficiency to meet customer expectations minus the costs involved. This arms you with the differentiation you need to stand out from the rest
				</p>
                <p style="text-align: justify">
					We train our agents to get a proper understanding of every claims program needs, empower them to process claims assertively, coach them to meet quality requirements, and guide them to coordinate at every level. So, when you bank on us you bank on the best to support your processing requirements
				</p>
                <br>
                <h5 style="font-size: 24px; text-align:center;" >Claims Processing Service – How We Do It</h5>
                <br>
                    <div class="row">
						<div class="col-md-4 mt-sm-30">
                            <ul class="shadow-new-small" style="padding:20px 20px;text-align: center">
                                <li> Receive Claims</li>
                                <li> Eligibility Check</li>
                                <li> Check for Duplicate Claims</li>
                            </ul>
                        </div>
						<div class="col-md-4 mt-sm-30">
                            <ul class="shadow-new-small" style="padding:20px 20px;text-align: center">
                                <li> Benefit Determination Application</li>
                                <li> Verify Provider Details</li>
                                <li> Review Coding, Bundling & Diagnosis</li>
                            </ul>
                        </div>
						<div class="col-md-4 mt-sm-30">
                            <ul class="shadow-new-small" style="padding:20px 20px;text-align: center">
                                <li> Rules-based Edits</li>
                                <li> Claims Settlement</li>
                                <li> Claims Presentment</li>
                            </ul>
                        </div>
					</div>
			</div>
		</section>
		<!-- End Sample Area -->

            <div>
                <div class="container pt-50">
					<h2 class="h2-new">We are Different; Here's Why</h2><br>
					<div class="row">
						<div class="col-md-4">
							<div class="single-defination">
								<h5 style="text-align:center;">Quality Through Efficiency</h5><br>
								<p>Customers want quality and we strive to provide it through operational efficiency. We have made our process efficient by banking on: centralization to reduce touchpoints, systems enhancements to streamline workflow, and data analytics to take informed decisions. Unlike other claims processing companies, we treat efficiency as an evolving process and keep ourselves busy in discovering better ways to meet quality levels.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-defination">
								<h5 style="text-align:center;">Unbeatable Open-To-Closing Claim Ratio</h5><br>
								<p>A great open-to-closing claim ratio reflects on the efficiency of your business, and the capability of our processes. Our claims processing call centers have adopted the best techniques – automated systems for chosen areas, understanding of deep internal codes, fraud control technology – to minimize claims submission errors. So, we outdo our competitors in providing the best open-to-closing claim ratio.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-defination">
								<h5 style="text-align:center;">Control Over Changed Market Conditions</h5>
								<p>If your business is prepared to deal with sudden and unanticipated changes, you get a head start in changed market conditions. Our claims processing services is flexible enough to adapt to important business shifts and help you respond appropriately to the changed conditions. This foster continued customer relationships and sustained strong performance</p>
							</div>
						</div>
					</div>
                </div>
            </div>
<!--------------------------------------->
        <div class="container pt-50">
            <div class="section-top-border">
					<h2 class="h2-new">Key Features That Sets Us Apart from Standard Claims Processing Companies</h2>
                <br>
					<div class="row">
						<div class="col-md-6">
							<img src="{% static 'other/service_detail.jpg' %}" alt="" class="shadow-new img-fluid">
						</div>
						<div class="col-md-6 mt-sm-20">
                            <br>
                            <p><b>Accurate eligibility checks and Systematic error-checking</b></p>
                            <ul>
                                <li>Check patient eligibility with multiple payers from one site</li>
                                <li>View complete benefit profiles for patients</li>
                                <li>Automatic error-checking to catch mistakes before submission</li>
                                <li>Notification of errors, including instructions for correcting</li>
                            </ul><br>
                            <p><b>Customized Reporting, Analytics and Easy claim tracking</b></p>
                            <ul>
                                <li>Instant and ongoing reports throughout the reimbursement cycle</li>
                                <li>Built-in analytics views to track payments, denials, and delays</li>
                                <li>Check claim status online, in real-time</li>
                                <li>Access easy-to-read summaries</li>
                            </ul>
                        </div>
                    </div>
                <div class="row container" style="margin-top:50px;">

                    <h5 style="font-size: 18px;">The different types of outsourced claims processing services that we provide include:</h5>
                    <br><br>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <ul class="ul-box">
                          <li>Life Insurance Claim Processing</li>
                          <li>Auto Insurance Claim Processing</li>
                          <li>Health Insurance Claim Processing</li>
                          <li>General Insurance Claim Processing</li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="ul-box">
                          <li>New Business Acquitting</li>
                          <li>Claim Processing</li>
                          <li>Provider Excess Reinsurance</li>
                          <li>Specific Express Reinsurance</li>
                            <br>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="ul-box">
                          <li>Insurance Claim Setup</li>
                          <li>Claim Document Imaging</li>
                          <li>Disbursement</li>
                          <li>Insurance Claim Eligibility and Estimation</li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="ul-box">
                          <li>Full Claim Adjudication</li>
                          <li>Claim Support and Auditing</li>
                          <li>Account Settlement</li>
                          <li>Modernization of Legacy Applications</li>
                        </ul>
                      </div>
                    </div>
            </div>
        </div>

        <!----------------copy---------->

        <div class="categories-area pt-100 pb-50">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <h2 class="h2-new" style="font-size: 18px;">Here’s How Companies That Have Benefited by Outsourcing Claims Processing Services to ExpertCallers</h2>
                        <p>We helped a dental service provider reduce operational costs from 20 to 40 percent</p>
                        <p>We transformed key processes for a health insurer to boost customer satisfaction</p>
                        <p>We helped a leading insurance company increase customer retention and acquisition</p>
                        <p>We freed up managers of a claims processing company to focus on claims operations performance improvements</p>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="iframe-container">
                            <iframe width="434" height="200" src="https://www.youtube.com/embed/DAxovcKhOFQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="sample-text-area">
			<div class="container">
                <div class="shadow-new-small" style="padding:20px 20px;">
				<p style="text-align: justify">
					When you outsource claims processing services to ExpertCallers, you will partner with a claims processing company that is focused on providing the most effective and reliable claims processing services using scripted call management system with back-end delivery and enterprise-level reporting systems.
				</p>
                </div></div>
        </section>
    </main>

    {% endblock %}

