    {% extends 'base.html' %}
    {% block title %}800 Answering Services{% endblock %}
    {% block main %}
    {% load static %}

    <main>
        <!--? Hero Start -->
        <div class="slider-ocontact">
            <div class="slider-height2 hero-overly2 d-flex align-items-center" style="max-height:300px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center">
                                <h2 style="color: #c19d9d;font-family: fantasy">Contact Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->



    </main>

    {% endblock %}

