{% extends 'base.html' %}
{% block title %}Expert Callers{% endblock %}
{% block main %}
{% load static %}
<main>

    <!-- slider Area Start-->
    <div class="slider-area hero-overly2" style="height: 600px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6"></div>
                <div class="col-lg-6 col-md-6">
                    <h2 class="slider-head-new" style="text-align:justify;">To minimize the impact of COVID-19, Our Business Continuity Plan is up and running to make Business as Usual for you</h2>
                    <div style="margin-top:60px;margin-left:3px;"><a href="#" class="btn-head">Learn More</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Intro-->
    <div class="categories-area" >
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-7" style="margin-top:100px;">
                    <h2 class="h2-new">Call Center Outsourcing Services</h2>
                    <p style="text-align: justify">ExpertCallers, a Flatworld Solutions company, strives to help you build and nurture exceptional relationships with your customers. With over 12 years of experience in providing timely, reliable and efficient call center outsourcing services, we have perfected the art of transforming customer experiences into competitive advantages.</p>
                    <p style="text-align: justify">We tap into this expertise to offer customized inbound and outbound call center outsourcing services to more than 300 clients of all sizes across geographies. We treat every phone call as an opportunity to create engrossing engagements that inspire customers. Be it generating leads, setting appointments, resolving issues or placing orders, we offer your business the experience, expertise, trust and value needed to augment reach and generate success.</p>
                    <p style="text-align: justify">We combine highly experienced resources with streamlined processes, latest technology and stringent quality control mechanisms to make your inbound and outbound call center process more responsive and customer-centric. In the process, we help you deliver services that not only meet today’s needs but also overcome tomorrow’s challenges.</p>
                    <br>
                    <p><b><i>One-Stop-Shop for All Your Call Center BPO Needs</i></b></p>
                </div>
                <div class="col-lg-1">

                </div>

                <div class="shadow-new col-lg-4 col-md-4" style="background:#136fa0d6;margin-top: 50px;padding:30px;border-radius: 15px">
                     {% load crispy_forms_tags %}

                    <h3>Quick Contact</h3>
                    <form action="addcontact" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input type="submit" value="Submit" class="genric-btn primary small">
                    </form>

                    {% for message in messages %}
                    <br><h6>{{message}}</h6>
                    {% endfor %}

                </div>
            </div>

            <!--       <a href="about" class="btn-head">More About Us</a> -->
        </div>
    </div>


    <!--why outsource-->

    <div class="categories-area pb-10 pt-60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12" style="margin-bottom:30px;">
                    <h2 class="h2-new">Why Outsource Call Center Services to ExpertCallers?</h2>
                </div>

                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img class="shadow-new" src="{% static 'assets/img/gallery/about_1.jpg' %}" alt="" style="max-width: 500px;max-height: 600px;">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6" style="margin-top:30px;">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="support-caption">
                                <h6>Professional Representation</h6>
                                <p class="mb-40"><i>We offer professional services yet in a friendly way and provide seamless experience to your customers.</i></p>
                                <h6>Security & Technological Excellence</h6>
                                <p class="mb-40"><i>We are ISO 27001 certified, which is a proof that we ensure next level of security to all the information shared with us by our clients.</i></p>
                                <h6>Reduced Costs</h6>
                                <p class="mb-40"><i>Leveraging our global deliver centers in India, Philippines, Columbia, Argentina and Bolivia, we offer 30% to 40% savings on operating cost per FTE.</i></p>
                                <h6>Multi-lingual Support</h6>
                                <p class="mb-40"><i>We can provide seamless support in 40+ languages, which includes English, Hindi, Spanish, French, German, Mandarin and more.</i></p>
                                <a href="contact" class="btn-head">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-------------Video1-------------->
    <div class="categories-area pb-10 pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12" style="margin-bottom:20px;">
                    <h2 class="h2-new">A few words from our customers</h2>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-5">
                    <p style="text-align: center"><b>Fredrick Mirzakhanian, CEO of Medicare Advantage Broker</b></p>
                    <div class="iframe-container">
                        <iframe width="584" height="270" src="https://www.youtube.com/embed/3ntnKJrmzPY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <br><p style="text-align: center">Key Motives for Medicare Advantage Broker to Work with Expert Callers for 7 Years and Counting</p>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2">
                        <div style="text-align: center;"><br><a href="about" class="genric-btn primary small">More</a></div>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-5">
                    <p style="text-align: center"><b>Ishan Dhara, Aditya Birla Group</b></p>
                    <div class="iframe-container">
                        <iframe width="584" height="270" src="https://www.youtube.com/embed/PBERn8NEfFI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <br><p style="text-align: center">Why Would Aditya Birla Trust Expert Callers to Handle Their Business Requirements?</p>
                </div>

            </div>

        </div>
    </div>

    <!--? Testimonial Start -->


    <div class="testimonial-area pt-50 pb-50">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-10 col-lg-10 col-md-9">
                    <div class="h1-testimonial-active">

                        {% for testi in testimonials %}

                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="67px" height="49px">
                                    <path fill-rule="evenodd"  fill="grey"
                                    d="M57.053,48.209 L42.790,48.209 L52.299,29.242 L38.036,29.242 L38.036,0.790 L66.562,0.790 L66.562,29.242 L57.053,48.209 ZM4.755,48.209 L14.263,29.242 L0.000,29.242 L0.000,0.790 L28.527,0.790 L28.527,29.242 L19.018,48.209 L4.755,48.209 Z"/>
                                    </svg>
                                    <p>{{testi.testi}}</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <!--<img src="{% static 'assets/img/gallery/Homepage_testi.png' %}" alt="">-->
                                    </div>
                                    <div class="founder-text">
                                        <span style="color:grey;">{{testi.name}}</span>
                                        <p>{{testi.title}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!------------------------->
    <div class="categories-area" style="padding-left:10px;">
    <div class="container pt-100 pb-50">
        <h2 class="h2-new">One-Stop-Shop for All Your Call Center BPO Needs</h2>
        <h5 style="text-align:justify">Being a leading provider of call center outsourcing services operating from India, we offer a range of call center BPO services, including:</h5>
        <br>
        <div class="row align-items-center">


            {% for service in services %}

            <div class="col-lg-4 col-md-4 pt-10 pb-10">
                <div class="card shadow-new-small" style="width: 24rem;height:220px;border-radius: 10px;border-color:white;">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align:center;">{{service.title}}</h5>
                      <p class="card-text">{{service.desc}}</p>
                  </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
    </div>


    <!---------------->

    <!---------------------->

    <div class="services-area pt-50 pb-40">
        <div class="container">
            <div class="row">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="mb-30">
                        <h2 class="h2-new">Our Success Stories</h2>
                        <h6>Accelerating Growth, Enhancing Operational Efficiency and Improving Bottom-Line</h6><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-10">
                    <div class="shadow-new-small single-services mb-20">
                        <div class="services-img">
                            <img src="{% static 'assets/img/gallery/service_4.png' %}" alt="">
                            </div>
                            <div class="services-caption">
                            <span>Strategy planing</span>
                            <p>Effective Inbound and Outbound Support for a UK-Based Safety Promotion Company</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-10">
                    <div class="shadow-new-small single-services mb-20">
                        <div class="services-img">
                            <img src="{% static 'assets/img/gallery/service_2.jpg' %}" alt="">
                            </div>
                            <div class="services-caption">
                            <span>Strategy planing</span>
                            <p>Our Lead Generation Service helped a Client Increase their Conversion Rate From 20% to 70%</p>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-4 col-sm-10">
                    <div class="shadow-new-small single-services mb-20">
                        <div class="services-img">
                            <img src="{% static 'assets/img/gallery/service_3.png' %}" alt="">
                            </div>
                            <div class="services-caption">
                            <span>Strategy planing</span>
                            <p>How Our Expert Help Delivered Superior Quality Customer Support</p>
                                <br>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-head">View all case studies</a>
        </div>
    </div>
    <!-- Services Ara End -->

    <!-- Brand Area Start -->
    <div class="brand-area pt-20 pb-50">
        <div class="container">
            <div class="row" style="margin-top:50px;">
                <div class="col-lg-12">
                    <div class="mb-60" style="text-align: center">
                        <h2 class="h2-new">Clients</h2>
                        <h6> Who love to work with us</h6>
                    </div>
                </div>
            </div>
            <div class="brand-active brand-border pb-40" style="background: #3748520a;padding: 20px;">

                     {% for client in clients %}
                    <div class="single-brand">
                        <img src="{{client.image.url}}" alt="" style="max-width:150px;">
                    </div>
                    {% endfor %}

            </div>
        </div>
    </div>
    <!-- Brand Area End -->


</main>
{% endblock %}
